@import "variables";
@import "base";
@import "content";
@import "navigation";
@import "pagination";
@import "footer";

/**custom**/
@import "home";

blockquote {
    border-left: 5px solid $link-color;
    width: 70%;
    min-width: 400px;
  }