<section class="container centered">
  <div class="about">
    <h1>Développement de produits web <br/><span class="emphasis">intelligents</span> et <span class="emphasis">intelligibles</span></h1>

    <form onsubmit="return submitSavoirFaire()">

      Je suis un
      <select id="savoir-faire-role">
        <option value="cto">CTO</option>
        <option value="developper">Développeur</option>
        <option value="devops">DevOps</option>
        <option value="expert">Expert</option>
      </select>
      expérimenté en
      <select id="savoir-faire-technology">
        <option value="python">Python</option>
        <option value="php">PHP</option>
        <option value="greenit">GreenIT</option>
      </select>
      avec le sens
      <select id="savoir-faire-sens">
        <option value="innovation">de l'innovation</option>
        <option value="responsabilite">de la responsabilité</option>
        <option value="paysan">paysan</option>
      </select>
      <input type="submit" value="🔎" alt="Chercher"/>
    </form>

<script type="text/javascript">
function submitSavoirFaire() {
  window.location.href = "/savoir-faire/" + document.getElementById('savoir-faire-role').value + "-" + document.getElementById('savoir-faire-technology').value + "-" + document.getElementById('savoir-faire-sens').value
  return false;
}
</script>

  </div>
</section>
